<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodle Auth Challenge</title>
  </head>
  <body>
    <h1>Login page</h1>
    <nav>
      <p>
        <a href="/">Login page</a>
      </p>
      <p>
        <a href="/welcome">Welcome page</a>
      </p>
    </nav>
    <div
      id="g_id_onload"
      data-client_id="434228773566-9qkvj9nrovt4tum95t42q41c1rgn95ni.apps.googleusercontent.com"
      data-login_uri="http://localhost:8080/callback/success"
      data-auto_prompt="false"
    ></div>
    <div
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </body>
</html>
