<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Some error has occured!</h1>
        <p>We are working on it, sorry for the inconvenicence!</p>
    </main>

<%- include('includes/end.ejs') %>